/*---------------------------------

  チェックボックス用画像

---------------------------------*/
input[id="ability1"]{
    background-image: url("../image/ability/ability1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability2"]{
    background-image: url("../image/ability/ability2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability3"]{
    background-image: url("../image/ability/ability3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability4"]{
    background-image: url("../image/ability/ability4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability5"]{
    background-image: url("../image/ability/ability5.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability6"]{
    background-image: url("../image/ability/ability6.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability7"]{
    background-image: url("../image/ability/ability7.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability8"]{
    background-image: url("../image/ability/ability8.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability9"]{
    background-image: url("../image/ability/ability9.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability10"]{
    background-image: url("../image/ability/ability10.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability11"]{
    background-image: url("../image/ability/ability11.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability12"]{
    background-image: url("../image/ability/ability12.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability13"]{
    background-image: url("../image/ability/ability13.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability14"]{
    background-image: url("../image/ability/ability14.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability15"]{
    background-image: url("../image/ability/ability15.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability16"]{
    background-image: url("../image/ability/ability16.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability17"]{
    background-image: url("../image/ability/ability17.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability18"]{
    background-image: url("../image/ability/ability18.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability19"]{
    background-image: url("../image/ability/ability19.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability20"]{
    background-image: url("../image/ability/ability20.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability21"]{
    background-image: url("../image/ability/ability21.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability22"]{
    background-image: url("../image/ability/ability22.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability23"]{
    background-image: url("../image/ability/ability23.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability24"]{
    background-image: url("../image/ability/ability24.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability25"]{
    background-image: url("../image/ability/ability25.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability26"]{
    background-image: url("../image/ability/ability26.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability27"]{
    background-image: url("../image/ability/ability27.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability28"]{
    background-image: url("../image/ability/ability28.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability29"]{
    background-image: url("../image/ability/ability29.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability30"]{
    background-image: url("../image/ability/ability30.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability31"]{
    background-image: url("../image/ability/ability31.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability32"]{
    background-image: url("../image/ability/ability32.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability33"]{
    background-image: url("../image/ability/ability33.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability34"]{
    background-image: url("../image/ability/ability34.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability35"]{
    background-image: url("../image/ability/ability35.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability36"]{
    background-image: url("../image/ability/ability36.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability37"]{
    background-image: url("../image/ability/ability37.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability38"]{
    background-image: url("../image/ability/ability38.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability39"]{
    background-image: url("../image/ability/ability39.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability40"]{
    background-image: url("../image/ability/ability40.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability41"]{
    background-image: url("../image/ability/ability41.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability42"]{
    background-image: url("../image/ability/ability42.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability43"]{
    background-image: url("../image/ability/ability43.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability44"]{
    background-image: url("../image/ability/ability44.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability45"]{
    background-image: url("../image/ability/ability45.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability46"]{
    background-image: url("../image/ability/ability46.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability47"]{
    background-image: url("../image/ability/ability47.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability48"]{
    background-image: url("../image/ability/ability48.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability49"]{
    background-image: url("../image/ability/ability49.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability50"]{
    background-image: url("../image/ability/ability50.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability51"]{
    background-image: url("../image/ability/ability51.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability52"]{
    background-image: url("../image/ability/ability52.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability53"]{
    background-image: url("../image/ability/ability53.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability54"]{
    background-image: url("../image/ability/ability54.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability55"]{
    background-image: url("../image/ability/ability55.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability56"]{
    background-image: url("../image/ability/ability56.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability57"]{
    background-image: url("../image/ability/ability57.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability58"]{
    background-image: url("../image/ability/ability58.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability59"]{
    background-image: url("../image/ability/ability59.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability60"]{
    background-image: url("../image/ability/ability60.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability61"]{
    background-image: url("../image/ability/ability61.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability62"]{
    background-image: url("../image/ability/ability62.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability63"]{
    background-image: url("../image/ability/ability63.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability64"]{
    background-image: url("../image/ability/ability64.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
input[id="ability65"]{
    background-image: url("../image/ability/ability65.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
